<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <form action="/login" method="post">
            <h1>Login</h1>
            <% if (messages.error) { %>
                <h4>Incorrect Email or Password</h4>
                <% } %>
                    <label for="email" required>Email:</label>
                    <input type="text" name="email" id="email" required placeholder="Enter your email">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required autocomplete="off" placeholder="Enter your password">
                    <label for="show-password">
                        <input type="checkbox" id="show-password"> Show password
                    </label>
                    <button>Login</button>
                    <div class="signup">
                        <span>New account?</span>
                        <a href="\signup">signup</a>
                    </div>
                    
        </form>
    </div>
    <script src="script.js"></script>
</body>

</html>